@page "/"

<PageTitle>Interactive Fiction</PageTitle>

<h3>Welcome!</h3>

<div class="actions">
    <a class="button" href="load-world">
        Load Game
    </a>
    <a class="button" href="new-world">
        New Game
    </a>
</div>
    

@code {

}
